.login{
        padding:20px;
        background-color: teal;
}
h1{
   text-align: center;
   
}
/* .loginImg{
    flex:1;
    width:300px;
    height:400px;
    background:url('https://www.incimages.com/uploaded_files/image/1920x1080/getty_488146678_20001334181884387374_285051.jpg');
    object-fit: cover;
    
} */
.loginWrapper{
    background-color: blueviolet;
    margin: 5px 5px 5px 5px;
    display: flex;
}
.leftDiv{
    flex:1;
    width:200px;
    height:400px;
    background:url('https://www.incimages.com/uploaded_files/image/1920x1080/getty_488146678_20001334181884387374_285051.jpg');
    object-fit: cover;
}
.loginInfo{
   flex:1;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    margin: 5px 5px 5px 5px;
}
.loginInput{
    margin:3px;
    padding:5px;
}
.loginButton{
 text-align: center;

}
.signup{
  text-align: center;
}
.SignUpButton{
    position: absolute;
    bottom:265px;
    right: 182px;
}