.header{
   margin-top: 50px;
}
.headerTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerTitleSm{
    position: absolute;
    font-size: 20px;
    top: 18%;
    
}
.headerTitleLg{
    position:absolute;
    font-size: 100px;
    top:20%;
    
}
.headerImg{
    width:100%;
    margin-top: 70px;
    height: 450px;
    object-fit: cover;
}